.add-icon{
    color: green
}
.create-icon{
    color: aqua
}
.file-icon{
    color: gray
}
.folder-icon{
    color: orange;
}
.cloud-icon{
    color: blue
}
.menu{
    background-color: gainsboro
}
.button{
    position: absolute;
    bottom: 3%;
    left: 2%;
    width: 7%;
    background-color: gainsboro
  }
  .button1{
    position: absolute;
    bottom: 3%;
    left: 11%;
    width: 7%;
    background-color: gainsboro
  }
  .button2{
    position: absolute;
    bottom: 3%;
    left: 20%;
    width: 7%;
    background-color: gainsboro
  } 
