.add-icon{
    color: green
}
.create-icon{
    color: aqua
}
.file-icon{
    color: gray
}
.folder-icon{
    color: orange;
}
.cloud-icon{
    color: blue
}
.menu{
    background-color: gainsboro
}
.button{
    position: absolute;
    bottom: 30px;
    left: 20px;
    width: 100px;
    background-color: gainsboro
  }
  .button1{
    position: absolute;
    bottom: 30px;
    left: 160px;
    width: 100px;
    background-color: gainsboro
  }
  .button2{
    position: absolute;
    bottom: 30px;
    left: 300px;
    width: 100px;
    background-color: gainsboro
  } 
