
  .mat-radio-group{
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 43%;
      top: 22%;
    }
  
  .namespace{
      position: absolute;
      left: 52.5%;
      top: 22%
    }
  
  .protocolTitle{
      position: absolute;
      left: 42%;
      top: 15%;
  }
  input{
      width: 400px;
  }
  .highest-address{
    position: absolute;
    left: 3%;
    top: 21%
  }
  .memory{
    position: absolute;
    left: 3%;
    top: 25%
  }
  .numTags{
    position: absolute;
    left: 3%;
    top: 29%
  }
  .statusTitle{
    position: absolute;
    left: 2%;
    top: 15%
  }
  .infoTitle{
    position: absolute;
    left: 1.5%;
    top: 12%
  }