<p class="infoTitle">Information</p>

<div>
  <p class="statusTitle">Status</p>
  <div class="highest-address">Highest Address:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {{highestAddress}}
  </div>
  <div class="memory">Memory used:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {{totalMemory}}/512 bytes
  </div>
  <div class="numTags">Number of tags:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    {{numberOfTags}}
  </div>

</div>

<div>
  <p class="protocolTitle">Supported protocol</p>
  <mat-radio-group aria-label="Select an protocol" [(ngModel)]='protocol' (change) = "updateProtocol()">
    <mat-radio-button value="opc-ua">OPC-UA</mat-radio-button>
    <mat-radio-button value="mqtt">MQTT</mat-radio-button>
  </mat-radio-group>
  <div class="namespace">Namespace URI:&nbsp;
    <input matInput type="text" [disabled]="protocol==='mqtt'">
  </div>
</div>
